@import 'colors.less';

//App colors
@primary-1-color          : @cyan-500;
@primary-2-color          : @cyan-700;
@primary-3-color          : @cyan-100;
@accent-1-color           : @pink-A200;
@accent-2-color           : @pink-A400;
@accent-3-color           : @pink-A100;

@text-color               : rgba(0,0,0,0.87);
@additional-text-color    : rgba(0,0,0,0.67);
@secondary-text-color     : rgba(0,0,0,0.54);
@hint-text-color          : rgba(0,0,0,0.26);
@divider-color            : rgba(0,0,0,0.12);
@background-color         : #eaeaea;
@cards-color              : #ffffff;

@green-app                : @green-500;
@pink-app                 : @pink-500;
@red-app                  : @red-500;
@purple-app               : @purple-500;
@indigo-app               : @indigo-500;
@blue-app                 : @blue-500;
@teal-app                 : @teal-500;
@cyan-app                 : @cyan-500;
@lime-app                 : @lime-500;
@amber-app                : @amber-500;
@yellow-app               : @yellow-500;
@orange-app               : @orange-500;
@brown-app                : @brown-500;
@grey-app                 : @grey-500;
