@import "../../assets/palette.less";

.ActivationsPage {
    background-color: @background-color;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .ActivationsPage__tab-bar {
        height: 50px;
        margin-top: 65px;
        background-color: @primary-1-color;
        display: flex;

        .mdl-tabs__tab-bar {
            justify-content: flex-start;
            position: relative;
            top: 1px;
        }

        .mdl-tabs__tab {
            color: @white-dark;
            font-weight: regular;
            font-size: 14px;

            &::after {
                background: @accent-1-color;
            }

            &.is-active {
                color: @white-darker;
            }

            .mdl-ripple {
                background: white;
            }
        }

        .mdl-tabs__tab.is-active::after {
            background: @accent-1-color;
        }
    }

    .ActivationsPage__list {
        padding-top: 20px;
        max-width: 1200px;
        width: 100%;
        justify-content: center;
    }
}

.ActivationsPage--embedded {
    width: 100%;

    .ActivationsPage__app-bar {
        display: none;
    }

    .ActivationsPage__tab-bar {
        width: 100%;
        background-color: @white-darker;
        z-index: 999;
        margin-top: 0;
        position: fixed;
        top:0;

        .mdl-tabs__tab {
            color: @black-dark;
            font-weight: regular;
            text-transform: none;
            font-weight: medium;
            font-size: 14px;

            &.is-active {
                color: @black-darker;
            }

            .mdl-ripple {
                background: @black-light;
            }
        }
    }

    .ActivationsPage__list {
        padding-top: 60px;
        max-width: 1000px;
    }
}