{
    "apiPrefix": "{{itsquiz_app_root_url}}/api/v1",
    "backgroundImagesPrefix": "{{itsquiz_app_root_url}}/be/static/images/backgrounds/",
    "staticUrl": "{{itsquiz_wall_static_url}}",
    "embedOrigin": "{{itsquiz_app_root_url}}",
    "loginUrl": "{{itsquiz_app_root_url}}/{lang}/login",
    "landingUrl": "{{itsquiz_landing_saas_root_url}}",
    "socialAuthURL": "{{itsquiz_app_root_url}}/api/v1/auth/{socialType}?lang={lang}&continue={continueRoute}&ref={ref}",
    "emailAuthURL": "{{itsquiz_app_root_url}}/{lang}/login?opened=true&continue={continueRoute}&ref={ref}",
    "facebookAppId": "116885668658957",
    "gaTrackingCode": "{{itsquiz_ga_tracking_identifier_wall}}",
    "quizwallShareLink": "{{itsquiz_wall_root_url}}/activations",
    "welcomeLinks": {
        "createTest": "{{itsquiz_app_root_url}}/{lang}/login?continue=%2Fquestions",
        "aboutItsquiz": "{{itsquiz_landing_saas_root_url}}/",
        "discoverTests": "{{itsquiz_wall_root_url}}/activations?skipWelcomeDialog=true",
        "englishCampaign": "https://itsquiz.com/activations?skipWelcomeDialog=true&category=SPECIAL"
    },
    "footerLinks": {
        "twitter": "https://twitter.com/itsquizcom",
        "facebook": "https://www.facebook.com/itsquiz",
        "youtube": "https://www.youtube.com/channel/UClU6b5mtTVPPAv_L9dUzl_g",
        "supportPage": "https://itsquiz.userecho.com/",
        "suggestIdea": "https://itsquiz.userecho.com/",
        "aboutItsquiz": "{{itsquiz_landing_saas_root_url}}/",
        "ourTeam": "{{itsquiz_landing_saas_root_url}}/#team",
        "helpMe": "mailto:support@itsquiz.com"
    },
    "customShareInfo": {
        "kmda": {
            "title": "Я склав тест з Англійської мови від КМДА та набрав {score} балів",
            "description": "Безкоштовні курси англійської мови Capital English – проект Київської міської державної адміністрації та мера міста Києва Віталія Кличка спрямовані на популяризацію вивчення англійської мови серед населення.",
            "pictureURL": "https://app.itsquiz.com/be/static/images/quizImages/55e4628dfee9bf6e141320c41452600670201.png",
            "redirectRoute": "/activations?category=SPECIAL"
        }
    },
    "ads": {
        "activationPage": {
            "client": "ca-pub-7395474002259561",
            "slot": "4264607333",
            "format": "auto"
        }
    }
}
